.maincon{
    display: grid;grid-template-columns: repeat(2,1fr);
}
.conview1ca{
    background-color:  rgb(144, 219, 252);display: flex;flex-direction: column;justify-content: center;
    align-items: center;
}
.conview1ca1{
    position: relative;bottom: 26%;
}
.conview1ca1 p{
    color: #0f0e0e;
    font-family: Roboto Condensed;font-size: 30px;
    font-weight: 700;
}
.conview1ca2{
    position: relative;bottom: 20%;display: flex;flex-direction: column;
    justify-content: center;align-items: center;
}
.conview1ca2 p{
    color: #0f0e0e;
    font-family: Roboto Condensed;font-size: 15px;
    font-weight: 400;text-transform:capitalize;
}
.conview1ca3{
    position: relative;bottom: 15%;display: flex;flex-direction: column;
    justify-content: center;align-items: center;
}
.conview1ca3 i{
    margin-bottom: 1rem;
}
.conview1ca3 p{
    color: #0f0e0e;
    font-family: Roboto Condensed;font-size: 15px;
    font-weight: 400;text-transform:capitalize;
}
.conview1ca4{
    position: relative;bottom: 10%;display: flex;flex-direction: column;
    justify-content: center;align-items: center;
}
.conview1ca4 i{
    margin-bottom: 1rem;
}
.conview1ca4 p{
    color: #0f0e0e;
    font-family: Roboto Condensed;font-size: 15px;
    font-weight: 400;text-transform:capitalize;
}
.conview1ca5{
    position: relative;bottom: 4%;display: flex;flex-direction: column;
    justify-content: center;align-items: center;
}
.conview1ca5 p{
    color: #0f0e0e;
    font-family: Roboto Condensed;font-size: 15px;
    font-weight: 400;text-transform:capitalize;
}
.conview1caicons{
    display: flex;
    justify-content: space-around;width: 200px;
}
.conview1caicons a .fa-facebook-f{
    color: rgb(8, 8, 8);
}
.conview1caicons a .fa-facebook-f:hover{
    color: rgb(250, 82, 4);transform: scale(2);
}
.conview1caicons a .fa-youtube{
    color: rgb(8, 8, 8);
}
.conview1caicons a .fa-youtube:hover{
    color: rgb(40, 22, 201);transform: scale(2);
}
.conview1caicons a .fa-google-plus-g{
    color: rgb(8, 8, 8);
}
.conview1caicons a .fa-google-plus-g:hover{
    color: rgb(16, 226, 128);transform: scale(2);
}
.conview1caicons a .fa-instagram{
    color: rgb(8, 8, 8);
}
.conview1caicons a .fa-instagram:hover{
    color: rgb(10, 199, 224);transform: scale(2);
}
.conview1caicons a .fa-twitter{
    color: rgb(8, 8, 8);
}
.conview1caicons a .fa-twitter:hover{
    color: rgb(241, 9, 9);transform: scale(2);
}
.conview1cb{
    background-color: #0f0f0e;display: flex;
    flex-direction: column;justify-content: center;align-items: center;
    padding: 0 30px 0 30px;
}
.conview1cb h1{
    color: #FFFFFF;font-size: 40px;
    font-family: Roboto Condensed;font-weight: 700;
    position: relative; top: 4%;right:7%;
}
.conview1cb p{
    color: #FFFFFF;font-size: 22px;
    font-family: Roboto Condensed;font-weight: 400;
    position: relative; top: 8%;right:7%;
}
 .form{
    width: 450px;height: 500px;
    display: flex;flex-direction: column;justify-content: center;
    align-items: center;position: relative;top: 7%;right:7%;
}
.form .elin{
    margin-top: 2rem;position: relative;bottom: 13%;right: 5%;
    color: #FFFFFF;font-size: 15px;
    font-family: Roboto Condensed;font-weight: 300;
}
.form .elin1{
    margin-top: 2rem;position: relative;top:7%;right: 5%;
    color: #FFFFFF;font-size: 15px;
    font-family: Roboto Condensed;font-weight: 300;
}
.form .elin3{
    margin-top: 2rem;position: relative;bottom: 9.5%;left: 45%;
    color: #FFFFFF;font-size: 15px;
    font-family: Roboto Condensed;font-weight: 300;
}
.form .elin2{
    margin-top: 2rem;position: relative;bottom: 15%;right: 5%;
    color: #FFFFFF;font-size: 15px;
    font-family: Roboto Condensed;font-weight: 300;
}
.form .elin4{
margin-top: 2rem;position: relative;bottom: 15%;right: 5%;
}
footer{
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer p{
    font-family: Dancing Script, cursive;font-size: 30px;color:  rgb(137, 216, 138);
    position: relative;top: 120px;
}
@media (max-width:1026px){
    .searchdiv{
        margin-left: 30px;
    }
    .headernav{
        margin-left: 30px;
    }
    .headernav ul li{
        font-size: 20px;
    }
    .maincon{
        display: flex;
    }
    .conview1cb{
        display: none;
    }
    .conview1ca{
        width: 100%;
        height: 100%;
    }
    .conview1ca1{
        position: relative;bottom: 50px;
    }
    .conview1ca1 p{
        color: #0f0e0e;
        font-family: Roboto Condensed;font-size: 30px;
        font-weight: 700;
    }
    .conview1ca2{
        position: relative;display: flex;flex-direction: column;
        justify-content: center;align-items: center;bottom: 35px;
    }
    .conview1ca2 p{
        color: #0f0e0e;
        font-family: Roboto Condensed;font-size: 15px;
        font-weight: 400;text-transform:capitalize;
    }
    .conview1ca3{
        position: relative;display: flex;flex-direction: column;
        justify-content: center;align-items: center;bottom: 15px;
    }
    .conview1ca3 p{
        color: #0f0e0e;
        font-family: Roboto Condensed;font-size: 15px;
        font-weight: 400;text-transform:capitalize;
    }
    .conview1ca4{
        position: relative;display: flex;flex-direction: column;
        justify-content: center;align-items: center;top: 15px;
    }
    .conview1ca4 p{
        color: #0f0e0e;
        font-family: Roboto Condensed;font-size: 15px;
        font-weight: 400;text-transform:capitalize;
    }
    .conview1ca5{
        position: relative;display: flex;flex-direction: column;
        justify-content: center;align-items: center;top: 40px;
    }
    .conview1ca5 p{
        color: #0f0e0e;
        font-family: Roboto Condensed;font-size: 15px;
        font-weight: 400;text-transform:capitalize;
    }
    .conview1caicons{
        display: flex;
        justify-content: space-around;width: 200px;position: relative;top: 60px;
    }
    .conview1caicons a .fa-facebook-f{
        color: rgb(8, 8, 8);
    }
    .conview1caicons a .fa-facebook-f:hover{
        color: rgb(250, 82, 4);transform: scale(2);
    }
    .conview1caicons a .fa-youtube{
        color: rgb(8, 8, 8);
    }
    .conview1caicons a .fa-youtube:hover{
        color: rgb(40, 22, 201);transform: scale(2);
    }
    .conview1caicons a .fa-google-plus-g{
        color: rgb(8, 8, 8);
    }
    .conview1caicons a .fa-google-plus-g:hover{
        color: rgb(16, 226, 128);transform: scale(2);
    }
    .conview1caicons a .fa-instagram{
        color: rgb(8, 8, 8);
    }
    .conview1caicons a .fa-instagram:hover{
        color: rgb(10, 199, 224);transform: scale(2);
    }
    .conview1caicons a .fa-twitter{
        color: rgb(8, 8, 8);
    }
    .conview1caicons a .fa-twitter:hover{
        color: rgb(241, 9, 9);transform: scale(2);
    }
    .searchdisplay{
        left: 26.7%;
    top: 100px;
    }
}
@media (max-width:800px){
    .headernav{
        width: 40%;
        margin-left: 30px;
    }
    .headernav ul li{
        font-size: 19px;
    }
    .carticon{
        font-size: 18px;
    }
    .whatsapp{
        left: 90%;
    }
    .searchdisplay{
        width: 36.5%;
        left: 30%;
    top: 100px;
    }
}
@media (max-width:699px){
    .headernav{
        width: 40%;
        margin-left: 30px;
    }
    .headernav ul li{
        display: none;
    }
    .carticon{
        font-size: 17px;
    }
    .dropdown{
        color: black;
        display: block;
        right: 40px;
    }
    .dropdownContent{
        width: 500px;
        left: 170px;
    }
    .favcartContainer{
        position: relative;
        right: 50px;
    }
    .searchbtn{
        display: none;
    }
    .searchdisplay{
        width: 40.5%;
        left: 32%;
    top: 100px;
    }
    
}
@media (max-width:599px){
    .headernav{
        width: 40%;
        margin-left: 30px;
    }
    .headernav ul li{
        display: none;
    }
    .carticon{
        font-size: 17px;
    }
    
    .searchdiv{
        width: 150px;
        position: relative;
        left: 50px;
        
    }
    #searchBar{
        width: 150px;
        margin-left: 0;
    }
    .dropdown{
        top: 30px;
    }
    .dropdownContent{
        width: 450px;
        left: 135px;
    }
    .favcartContainer{
        position: relative;
        right: 70px;
    }
    .searchdisplay{
        width: 45.5%;
        left: 32%;
    top: 100px;
    }
}
@media (max-width:499px){
    .headdown .logocontainer{
        width: 65px;
        margin-left: 10px;
    }
    .logocontainer p{
        font-size:18px;
    }
    .searchdiv{
        left: 35px;
    }
    .carticon{
        font-size: 17px;
    }
    .favcartContainer{
        right: 35px;
    }
    .dropdown{
        right: 15px;
    }
    .dropdownContent{
        width: 400px;
        left: 105px;
    }
    .searchdisplay{
        width: 54.5%;
        left: 27%;
    top: 100px;
    }
}
@media (max-width:390px){
    .headdown .logocontainer{
        width: 55px;
        margin-left: 10px;
        margin-top: 12px;
    }
    
    .logocontainer p{
        font-size:19px;
    }
    .searchdiv{
        
        left: 5px;
    }
    .searchdivBar{
        width: 20px;
    }
    .carticon{
        font-size: 16px;
    }
    .favcartContainer{
        right: 15px;
    }
    .landpagetext p{
        font-size: 20px;
        font-weight: 400;
    }
    .dropdownContent{
        width: 350px;
        left: 85px;
    }
    .conview1ca1 p{
        color: #0f0e0e;
        font-family: Roboto Condensed;font-size: 22px;
        font-weight: 700;
    }
    .conview1ca2 p{
        color: #0f0e0e;
        font-family: Roboto Condensed;font-size: 12px;
        font-weight: 400;text-transform:capitalize;
    }
    .conview1ca3 p{
        color: #0f0e0e;
        font-family: Roboto Condensed;font-size: 12px;
        font-weight: 400;text-transform:capitalize;
    }
    .conview1ca4 p{
        color: #0f0e0e;
        font-family: Roboto Condensed;font-size: 12px;
        font-weight: 400;text-transform:capitalize;
    }
    .conview1ca5 p{
        color: #0f0e0e;
        font-family: Roboto Condensed;font-size: 12px;
        font-weight: 400;text-transform:capitalize;
    }
    .searchdisplay{
        width: 65.5%;
        left: 23%;
    top: 100px;
    }
}

