
@media (max-width:1026px){
    .searchdiv{
        margin-left: 30px;
    }
    .headernav{
        margin-left: 30px;
    }
    .headernav ul li{
        font-size: 20px;
    }
    .searchdisplay{
        left: 26.7%;
    top: 100px;
    }
    
}
@media (max-width:800px){
    .headernav{
        width: 40%;
        margin-left: 30px;
    }
    .headernav ul li{
        font-size: 19px;
    }
    .carticon{
        font-size: 18px;
    }
    .whatsapp{
        left: 90%;
    }
    .searchdisplay{
        width: 36.5%;
        left: 30%;
    top: 100px;
    }
    
}
@media (max-width:699px){
    .headernav{
        width: 40%;
        margin-left: 30px;
    }
    .headernav ul li{
        display: none;
    }
    .carticon{
        font-size: 17px;
    }
    .dropdown{
        color: black;
        display: block;
        right: 40px;
    }
    .dropdownContent{
        width: 500px;
        left: 170px;
    }
    .favcartContainer{
        position: relative;
        right: 50px;
    }
    .searchbtn{
        display: none;
    }
    .searchdisplay{
        width: 40.5%;
        left: 32%;
    top: 100px;
    }
    
    
}
@media (max-width:599px){
    .headernav{
        width: 40%;
        margin-left: 30px;
    }
    .headernav ul li{
        display: none;
    }
    .carticon{
        font-size: 17px;
    }
    
    .searchdiv{
        width: 150px;
        position: relative;
        left: 50px;
        
    }
    #searchBar{
        width: 150px;
        margin-left: 0;
    }
    .dropdown{
        top: 37px;
    }
    .dropdownContent{
        width: 450px;
        left: 135px;
    }
    .favcartContainer{
        position: relative;
        right: 70px;
    }
    .landpagetext p{
        font-size: 25px;
    }
    .searchdisplay{
        width: 45.5%;
        left: 32%;
    top: 100px;
    }
    
}
@media (max-width:499px){
    .headdown .logocontainer{
        width: 65px;
        margin-left: 10px;
    }
    .logocontainer p{
        font-size:18px;
    }
    .searchdiv{
        left: 20px;
    }
    .carticon{
        font-size: 15px;
    }
    .favcartContainer{
        right: 15px;
    }
    .dropdown{
        right: 15px;
        top: 25px;
    }
    .dropdownContent{
        width: 400px;
        left: 105px;
    }
    video{
        width: 100vw;
        height: 100%;
    }
    .searchdisplay{
        width: 54.5%;
        left: 27%;
    top: 100px;
    }
}
@media (max-width:390px){
    .headdown .logocontainer{
        width: 65px;
        margin-left: 10px;
    }
    
    .logocontainer p{
        font-size:18px;
    }
    .searchdiv{
        left: 5px;
    }
    .carticon{
        font-size: 15px;
    }
    .favcartContainer{
        right: 15px;
    }
    .landpagetext p{
        font-size: 20px;
        font-weight: 400;
    }
    .dropdown{
        top: 25px;
    }
    .dropdownContent{
        width: 350px;
        left: 85px;
    }
    video{
        width: 100vw;
        height: 100%;
    }
    .searchdisplay{
        width: 65.5%;
        left: 23%;
    top: 100px;
    }
}